.main-container {
    height: 1077px;
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.experience-professionnelle,
.certifications {
    margin-bottom: 1rem;
    padding: 15px;
}

.experience-professionnelle h3,
.certifications h3 {
    font-size: 1.35rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
    font-family: "Public Sans", "Times New Roman", Times, serif;
    letter-spacing: 2.2px;
    word-spacing: 2px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

.experience-professionnelle div,
.certifications ul {
    margin-left: 1.0rem;
    font-family: "Raleway", "Times New Roman", Times, serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    word-spacing: 1.0px;
    color: #000000;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.experience-professionnelle li > :last-child,
.certifications li > :last-child {
    margin-bottom: 0.5rem;
}



.formations-and-projects,
.education-history {
    margin-bottom: 1rem;
    padding: 15px;
}

.formations-and-projects h3,
.education-history h3 {
    font-size: 1.35rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
    font-family: "Public Sans", "Times New Roman", Times, serif;
    letter-spacing: 2.2px;
    word-spacing: 2px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

.formations-and-projects p,
.education-history ul {
    font-family: "Raleway", "Times New Roman", Times, serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    word-spacing: 1.0px;
    color: #000000;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}

/*.formations-and-projects li > :last-child {*/
/*    margin-bottom: 0.5rem;*/
/*}*/



.formations-and-projects {
    margin-bottom: 1rem;
}

.formations-and-projects h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}


.formations-and-projects p i {
    margin-right: 0.25rem;
    margin-left: -0.25rem;
}


.profile-style {
    font-family: "Raleway", "Times New Roman", Times, serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    word-spacing: 1.0px;
    color: #000000;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-left: 30px;
}


.project-style .title {
    font-family: "Raleway", "Times New Roman", Times, serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    word-spacing: 1.0px;
    color: #000000;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-left: 20px;
    font-weight: bold;
}


.project-style .description {
    padding-left: 50px;
    color: black;
    font-family: "Raleway", "Times New Roman", Times, serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    word-spacing: 1.0px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-left: 20px;
}


.prof-expe-style {
    font-weight: bold;
}

.prof-expe-detail-style {
    /*margin-left: 30px;*/
}
